<link rel="stylesheet" href="/css/footer.css" />

<footer class="custom-footer">
  <div class="footer-container">
    
    <div class="footer-logo">
        <img src="/media/rbinfkzw/screenshot_2025-08-10_183245-removebg-preview-1.png" alt="גלצ פלוס" />
    </div>

    <!-- טור ימין עם לוגו -->
    <div class="footer-column footer-links text-center">
      <h3 class="text-center" style="text-align: center;">עמודי האתר</h3>
      <ul class="text-center">
        <li><a href="#">ילדים ונוער</a></li>
        <li><a href="#">סדרות רשת</a></li>
        <li><a href="#">תרבות ופנאי</a></li>
        <li><a href="#">הסכתים</a></li>
        <li><a href="#">מוזיקה</a></li>
        <li><a href="#">ארכיון</a></li>
      </ul>
    </div>

    <!-- טור אמצע -->
    <div class="footer-column footer-social text-center">
      <h3 class="text-center">עקבו אחרינו</h3>
      <div class="social-icons text-center">
        <a href="https://did.li/EDo6q" target="_blank"><img src="/media/jzrgbn12/tik-tok1.svg" alt="TikTok"></a>
        <a href="https://did.li/a1imC" target="_blank"><img src="/media/xa3hv3cn/youtube1.svg" alt="YouTube"></a>
        <a href="https://did.li/P62aa" target="_blank"><img src="/media/sozpt2h4/facebook1.svg" alt="Facebook"></a>
        <a href="https://did.li/hJ8TY" target="_blank"><img src="/media/u3hhzcov/instagram1.svg" alt="Instagram"></a>
      </div>
    </div>

    <!-- טור שמאל -->
    <div class="footer-column footer-apps text-center">
      <h3 style="text-align: center; margin-right: 170px;" >להורדה גם בנייד</h3>
      <a href="https://did.li/sbLZH" target="_blank"><img src="/media/jnpglslh/screenshot_2025-08-08_162822-removebg-preview.png" alt="Google Play" ></a>
      <a href="https://did.li/UOQIw" target="_blank"><img src="/media/fpcogxol/screenshot_2025-08-08_162822-removebg-preview-1.png" alt="App Store" ></a>
    </div>
  </div>

</footer>
