<link rel="stylesheet" href="~/css/footer.css" />


<footer class="footer">
  <div class="container">
    <div class="footer-section about">
      <h3>אודות</h3>
      <p>אתר זה מספק תוכן איכותי ומעודכן בכל נושאי העניין שלכם.</p>
    </div>

    <div class="footer-section contents">
      <h3>תכנים</h3>
      <ul>
        <li><a href="#">מאמרים</a></li>
        <li><a href="#">וידאו</a></li>
        <li><a href="#">בלוג</a></li>
        <li><a href="#">חדשות</a></li>
      </ul>
    </div>

    <div class="footer-section popular">
      <h3>תכנים פופולריים</h3>
      <ul>
        <li><a href="#">המדריך השלם</a></li>
        <li><a href="#">הטכנולוגיות הכי חמות</a></li>
        <li><a href="#">רשימת כלים מומלצים</a></li>
      </ul>
    </div>

    <div class="footer-section links">
      <h3>קישורים</h3>
      <ul>
        <li><a href="#" target="_blank" rel="noopener">מעבר לאתר השני</a></li>
        <li><a href="#">להורדת היישמון</a></li>
      </ul>
    </div>

    <div class="footer-section social">
      <h3>עקבו אחרינו</h3>
      <div class="social-icons">
        <a href="#" aria-label="Facebook"><img src="https://cdn-icons-png.flaticon.com/24/733/733547.png" alt="Facebook"></a>
        <a href="#" aria-label="Instagram"><img src="https://cdn-icons-png.flaticon.com/24/733/733558.png" alt="Instagram"></a>
        <a href="#" aria-label="Twitter"><img src="https://cdn-icons-png.flaticon.com/24/733/733579.png" alt="Twitter"></a>
        <a href="#" aria-label="LinkedIn"><img src="https://cdn-icons-png.flaticon.com/24/733/733561.png" alt="LinkedIn"></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© כל הזכויות שמורות &nbsp;|&nbsp; האתר הרשמי 2025</p>
  </div>
</footer>

