<link rel="stylesheet" href="~/css/footer.css" />


<footer class="custom-footer">
  <div class="footer-container">
    
    <!-- טור ימין עם לוגו -->
    <div class="footer-column footer-links">
      <div class="footer-logo">
        <img src="media/iignqmma/glzpluslogo-removebg-preview.png" alt="גלצ פלוס" />
      </div>
      <h3>עמודי האתר</h3>
      <ul>
        <li><a href="#">ילדים ונוער</a></li>
        <li><a href="#">סדרות רשת</a></li>
        <li><a href="#">תרבות ופנאי</a></li>
        <li><a href="#">הסכתים</a></li>
        <li><a href="#">מוזיקה</a></li>
        <li><a href="#">ארכיון</a></li>
      </ul>
    </div>

    <!-- טור אמצע -->
    <div class="footer-column footer-social">
      <h3>עקבו אחרינו</h3>
      <div class="social-icons">
        <a href="#"><img src="media/jzrgbn12/tik-tok1.svg" alt="TikTok"></a>
        <a href="#"><img src="youtube.png" alt="YouTube"></a>
        <a href="#"><img src="facebook.png" alt="Facebook"></a>
        <a href="#"><img src="instagram.png" alt="Instagram"></a>
      </div>
    </div>

    <!-- טור שמאל -->
    <div class="footer-column footer-apps">
      <h3>להורדה גם בנייד</h3>
      <a href="#"><img src="google-play.png" alt="Google Play" class="app-btn"></a>
      <a href="#"><img src="app-store.png" alt="App Store" class="app-btn"></a>
    </div>

  </div>
</footer>

