<link rel="stylesheet" href="~/css/NavigationStyle.css" />

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #91D4ED;">
    <div class="container-fluid">

        <!-- כפתור המבורגר בנייד -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- פריטי תפריט -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- אייקונים בצד שמאל -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/%D7%97%D7%99%D7%A4%D7%95%D7%A9/" id="search-icon"><i class="fas fa-search" style="font-size: 30px;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-heart" style="font-size: 30px; color: red;"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="kids.html">ארכיון</a></li>
                <li class="nav-item"><a class="nav-link" href="culture.html">ילדים ונוער</a></li>
                <li class="nav-item"><a class="nav-link" href="culture.html">תרבות ופנאי</a></li>
                <li class="nav-item"><a class="nav-link" href="culture.html">סדרות רשת</a></li>
                <li class="nav-item"><a class="nav-link" href="culture.html">הסכתים</a></li>
                <li class="nav-item"><a class="nav-link" href="culture.html">מוזיקה</a></li>
            </ul>
        </div>

        <!-- לוגו בצד ימין -->
        <a class="navbar-brand fw-bold" href="/"><img src="/media/fdpfk0xw/screenshot_2025-08-10_183245-removebg-preview.png" style="height: 80px;"></a>
</nav>
