<div class="container">
			<nav class="navbar navbar-expand navbar-light">
				<a class="navbar-brand font-weight-bold" href="#">UmbracoTV</a>
				<!-- Links -->
				<ul class="navbar-nav">
					<li class="nav-item">
					    <a class="nav-link" href="#">תוכניות</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="#">שדרנים</a>
                    </li>
                    <li class="nav-item">
					    <a class="nav-link" href="#">לוח שידורים</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="#">הסכתים</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="#">חיפוש</a>
					</li>
				</ul>
			</nav>
		</div>