body{
    background: linear-gradient(to right, #D1DBE6, #5980A6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-family: "Assistant", Sans-serif;
    font-size: 57px;
    font-weight: 500;
    margin-top: 20px;
}

.custom-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    direction: rtl;
    margin: 50px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card.large {
    grid-column: span 2;
    height: 350px;
}

.card.small {
    grid-column: span 1;
    height: 250px;
}


.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: right;
}

.card:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
    transition: background 0.3s ease;
}


