body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
    
.programs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 40px;
    padding: 20px;
    margin-bottom: 40px;
    }

    .program-card img {
        width: 370px;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .pagination {
        margin-top: 20px;
        text-align: center;
    }

    .pagination a, .pagination span {
        margin: 0 5px;
        padding: 8px 12px;
        color: white;
        background-color: #007acc;
        border-radius: 4px;
        text-decoration: none;
    }

    .pagination span.current {
        background-color: #005ea2;
        font-weight: bold;
    }

    .category-title {
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}
