body{
    background-color: lightskyblue;
}

.programs-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .program-card {
        background-color: #222;
        padding: 10px;
        border-radius: 8px;
        color: white;
        text-align: center;
    }

    .program-card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .pagination {
        margin-top: 20px;
        text-align: center;
    }

    .pagination a, .pagination span {
        margin: 0 5px;
        padding: 8px 12px;
        color: white;
        background-color: #007acc;
        border-radius: 4px;
        text-decoration: none;
    }

    .pagination span.current {
        background-color: #005ea2;
        font-weight: bold;
    }