

.custom-footer {
  background: linear-gradient(to bottom right, #96b9d6, #6f8eac);
  /* padding: 40px 20px; */
  direction: rtl;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-column {
  flex: 1 1 300px;
  margin: 10px;
}

.footer-column h3 {
  color: #000;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #000;
  text-decoration: underline;
  font-size: 18px;
}

.footer-social .social-icons a img {
  width: 50px;
  height: 50px;
  margin: 0 8px;
}

.footer-apps .app-btn {
  display: block;
  margin: 10px 0;
  max-width: 200px;
}

.footer-logo img {
  max-width: 120px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
