.page-title {
    color: #0052BB;
    font-family: "Assistant", Sans-serif;
    font-size: 57px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: right; /* Align the title to the center */
}

.podcast-grid {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program-card-image {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.program-card-image:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.program-image {
    width: 100%;
    height: 75%;
    object-fit: cover; 
    border-radius: 12px;
    padding: 0; 
    margin: 0;
}

.program-title {
    color: #0052BB;
    font-family: "Assistant", Sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 25px;
    text-align: right;
        padding-top: 10px; /* הוסף padding-top אם אתה רוצה קצת מרווח */

}

.program-description {
    color: #0000008A;
    font-family: "Assistant", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
    direction: rtl;
    margin-bottom: 10px;
}

.podcastsClass {
    background-color: #f8f8f8; 
    padding: 40px 0;
}

.podcastsClass .text-muted {
    font-size: 18px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .program-title {
        font-size: 18px;
    }

    .program-description {
        font-size: 12px;
    }
}
